.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-control:focus {
  border-color: violet !important;
  box-shadow: violet;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#link{
  color: black;
  text-decoration: none;
}
.negrilla{
  font-weight: bold;
}

.cardHover{
 box-shadow: 5px,5px,20px,(0,0,0,0,2);
 transition: all 600ms ease;
}
.cardHover:hover{
  
  box-shadow: 18px,18px,50px,(1,1,1,1,8);
  background-color: violet;
  color: white;
  height: 140%;
  transform: translate3d(-5%) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
